h1,h2,h3{
font-weight: bold;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}
code{
color: brown;
background-color: antiquewhite;
}
body{
background-color: rgb(190, 187, 183);
}
hr{
border-bottom: solid 1px black;
}
pre{
font-family: Georgia, 'Times New Roman', Times, serif;
}
b{
color: black;
}
span{
background-color: bisque;
}